/* Custom Properties */

:root {
	--width-desktop: 1440px;
	--width-mobile: 375px;

	--color-white: hsl(0, 0%, 100%);
	--color-light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);

	--ff-all: "Outfit", sans-serif;

	--fw-regular: 400;
	--fw-bold: 700;

	--fs-body: 0.938rem;
}

/* Reset */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html,
.container {
	min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* General Styling */
body {
	font-family: var(--ff-all);
	font-weight: var(--fw-regular);
	color: var(--Grayish-blue);
	background-color: var(--color-light-gray);
    line-height: 1.3;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	place-content: center;
}

.card {
	--content-padding: 1rem;
	--content-spacing: 1.2rem;

	max-width: 320px;
	text-align: center;
	background-color: var(--color-white);
	padding: var(--content-padding);
	border-radius: 1.1rem;
	display: flex;
	flex-direction: column;
}

.qr {
	border-radius: 0.75rem;
}

.content {
    --content-padding: 1.4rem 0.8rem;
    --content-spacing: 0.9rem;
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    gap: var(--content-spacing);
}

.title {
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    color: var(--Dark-blue);
}
